@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('./Error404.scss');
@import url('./About.scss');
@import url('./Home.scss');
@import url('./Apartment.scss');


$base-color: #FF6060;

*{
    margin:0px;
    font-family: 'Montserrat',sans-serif ;
    
}


