.Carousel{
display: flex;
position: absolute;
left: 20px;
right: 20px;

}
.Apartment__picture{
    height : 415px;
    width: 100%;
    object-fit: cover;
}
.Apartment__previous__picture{
    width : 15px;
    height : 15px;
}

.vector{
    cursor: pointer;
    width: 46.68px;
    height: 79.2px;
    padding : 30px 15px;
    border: 2px black solid;
}

.RightVector{
    transform: rotate(180deg);
    position: relative;
    right: 80px;
    top: 150px;
}

.LeftVector{
position: relative;
left: 80px;
top: 150px;
}
