.Home{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 ;
    margin : 0 100px;


    .Home_banner{
        display: flex;
        justify-content: center;
        background-image: url('../asset/Banner/Home_banner.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        filter:brightness(80%);
        border-radius: 20px;
        height : 223px;
        margin-bottom : 43px;

        
        .Text_banner{
            filter:brightness(100%);
            display: flex;
            height : 100%;
            align-items: center;
            color: #fff;
            font-size: 48px;
            font-weight: 500;
            
        }
}
 .ApartmentList{
            padding : 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 50px;
            row-gap: 56px;
            padding: 50px 56 px;
            border-radius: 25px;
            margin-bottom: 40px;
            background: #F7F7F7;
            
            
            
             
            }
        }
.apartment{
        width : 340px;
        height: 340px;
        background: linear-gradient(180deg, rgba(255,96,96,1) 0%, rgba(194,80,80,1) 80%);
        border-radius: 10px;
        overflow: hidden;
        
        a{
            text-decoration: none;
            
        }
        
        .apartmentTitle{
            font-size: 18px;
            color: white;
            font-weight: 500;
            padding : 20px;
        }
    

        .homeImg{
            width : 100%;
            height: 77%;
            object-fit: cover;
        }
}
