.Rate{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 40px;
    @media all and (min-width:500px) and (max-width:900px) {
        font-size: 32px;
    }
    @media all and (max-width:500px) {
        font-size: 18px;
    }
    
}
.empty-star{
    color: grey;
}

.colored-star{
    color:#ff6060;
}