.Rate{
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    
}
.empty-star{
    color: grey;
}

.colored-star{
    color:#ff6060;
}