.TagElement{
    border-radius: 10px;
    overflow: hidden;
    margin:20px 5px;
   
}
.tag{
    background-color: #FF6060;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:30px;
    width: 120px;
}